@{
    ViewData["Title"] = "Home Page";
}

<div class="header">
    <h5>Unanswered Questions</h5>
    <a href="#" class="primary-button">Ask a question</a>
</div>


<div class="box">
    <h3> <a href="#">Q title</a></h3>
    <p>Body of the question</p>
    <p><i>Asked by John Doe on <time>12/12/12 4:56PM</time></i></p>
</div>

<div class="box">
    <h3> <a href="#">Q title</a></h3>
    <p>Body of the question</p>
    <p><i>Asked by John Doe on <time>12/12/12 4:56PM</time></i></p>
</div>

<div class="box">
    <h3> <a href="#">Q title</a></h3>
    <p>Body of the question</p>
    <p><i>Asked by John Doe on <time>12/12/12 4:56PM</time></i></p>
</div>